mixin feature-icon(href, title, icon)
  - var target= (href.indexOf("://") > 0 ? "_blank" : "")
  .4u
    section
      span.feature-icon
        a.scrolly(href= href, style='display:block', target= target )
          span(class="icon #{ icon }")
      header
        a.scrolly(href= href, style='display:block', target= target )
          h3= title
      p
        block

mixin feature-no-icon(href, title)
  - var target= (href.indexOf("://") > 0 ? "_blank" : "")
  section
    header
      a(href= href, target= target )
        h3= title
    br
    p
      block

mixin feature-icon2(href, title, icon)
  - var target= (href.indexOf("://") > 0 ? "_blank" : "")
  section
    span.feature-icon2
      a.scrolly(href= href, style='display:block' target= target )
        span(class="icon #{ icon }")
    header
      br
      a.scrolly(href= href, style='display:block', target= target )
        h3= title
    p
      block

mixin feature-icon2-no-content(href, title, icon)
  - var target= (href.indexOf("://") > 0 ? "_blank" : "")
  section
    span.feature-icon2
      a(href= href, style='display:block' target= target )
        span(class="icon #{ icon }")
    footer(style="text-align:center")
      a(href= href, target= target )
        h3= title